#salesRecap {
  margin: 10px 0 10px;
}

.tableTitle {
  background-color: rgba(0, 180, 249, 0.872);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(0, 180, 249, 0.872);
  color: white !important;
  border: none !important;
}

.highlighted {
  background-color: rgba(5, 197, 255, 0.205);
}
