.loading {
  display: block;
  text-align: center;
  font-size: 32px;
  padding: 50px;
}

#weeklyTablesColumnB {
  margin-top: 10px;
}

#charts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 650px) {
  #weeklyTables {
    margin: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #weeklyTablesColumnB {
    display: flex;
    justify-content: center;
  }
  #weeklyTablesColumnA {
    max-width: 777px;
  }
}

@media (min-width: 1420px) {
  #weeklyTables {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 50px;
  }

  #weeklyTablesColumnA {
    margin-right: 5px;
  }

  #weeklyTablesColumnB {
    margin-top: 10px;
    margin-left: 5px;
  }

  #charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
  }
}
