#velocityTable {
  margin: 5px 2.5px 0 0;
  width: auto;
}

.tableTitle {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border-right: solid 1px white !important; */
}
.tableSubHeader {
  border-top: solid 1px white !important;
}

.tableBody {
  border: solid 1px black;
}

.highlighted {
  background-color: rgba(5, 197, 255, 0.205);
}

@media (max-width: 1460px) {
  #velocityTable {
    margin: 0 0 15px 0;
  }
}
