#weeklyProduct {
  width: 45%;
  margin: 0 0 0 0;
}

.tableTitle {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableBody {
  border: solid 1px black;
}

@media (max-width: 1460px) {
  #weeklyProduct {
    margin: 0 0 15px 0;
    width: 75%;
  }
}
