#weeklyProduct {
  margin: 5px 2.5px 0 0;
  width: auto;
}

.tableTitle {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableBody {
  border: solid 1px black;
}

@media (max-width: 1460px) {
  #weeklyProduct {
    margin: 0 0 15px 0;
  }
}
