#salesByStoreByProductContainer {
  display: flex;
  justify-content: center;
}

#salesByStoreByProduct {
  width: 30%;
}

@media (max-width: 1460px) {
  #salesStoreByProduct {
    margin: 60px 0 0 0;
  }
}
