/* #salesByStoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */

#salesByStore {
  height: 100%;
}

/* @media (max-width: 1460px) {
  #salesByStore {
    margin: 60px 0 0 0;
  }
} */
