#rootWeeklyStore {
  width: 100%;
  border: solid rgba(242, 242, 242, 0.2) 1px;
  border-radius: 0;
}

.tableTitle {
  background-color: rgba(0, 180, 249, 0.872);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(0, 180, 249, 0.872);
  color: white !important;
  border: none !important;
}

.paper {
  width: 100%;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}

.MuiTablePagination-root {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.MuiTablePagination-toolbar {
  height: 10px;
}
/* 
.MuiTableRow-root td:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.MuiTableRow-root td:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.MuiTablePagination-root {

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

@media (min-width: 650px) {
  #rootWeeklyStore {
    max-width: 780px;
  }
}

@media (min-width: 1300px) {
}
