#weeklySalesStore {
  width: auto;
}

.tableTitle {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  border: none !important;
}

.tableBody {
  border: solid 1px black;
}

.highlighted {
  background-color: rgba(5, 197, 255, 0.205);
}

@media (max-width: 1460px) {
  #weeklySalesStore {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 800px) {
  tableBody {
    border: solid 1px black;
    max-width: 650px;
    display: none;
    /* margin: 0 5%; */
    /* overflow: scroll; */
  }
  #weeklySalesStore {
    /* margin: 0 0 15px 0; */
  }
}
