#weeklySalesStore {
  width: auto;
}

.tableTitle {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  /* border: none !important; */
}

.tableHeaders {
  background-color: rgba(5, 188, 255, 0.646);
  color: white !important;
  border: none !important;
}

.tableBody {
  border: solid 1px black;
}

.highlighted {
  background-color: rgba(5, 197, 255, 0.205);
}

@media (max-width: 1460px) {
  #weeklySalesStore {
    margin: 0 0 15px 0;
  }
}
