.MuiTablePagination-root {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.MuiTablePagination-toolbar {
  /* padding: 5px 0 0 0; */
  height: 10px;
}
